.Hud {
  position: relative;
  font-family: "press_start_k";
  font-size: 8px;
  color: #FFF; /* #DFD16E */
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
  text-transform: uppercase;
  margin: 10px;
  z-index: 100;
}

.PlayerName {
  position: absolute;
  left: 0;
  top: 4px;
  color: #FB401B;
}

.PlayerLives {
  position: absolute;
  left: 4px;
  top: 15px;
  white-space: pre;
}

.PlayerLives::before, .PlayerScore::before {
  content: "X ";
}

.ItemContainer {
  height: 28px;
  width: 28px;
  background: url("./assets/item-container.png");
  margin: 0 auto;
}

.PlayerScore {
  position: absolute;
  white-space: pre;
  line-height: 130%;
  right: 0;
  top: 6px;
  background: url("./assets/hud-score-coin.png") no-repeat;
  padding-left: 10px;
}
